* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial' , sans-serif;
}


body {
    background-color:antiquewhite ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-container {
    background-color: #eede91; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

h2 {
    color: #fff ;
    margin-bottom: 20px;
}


.input-box {
    position: relative;
    margin: 20px 0;
}


.input-box input {
    width: 100% ;
    padding: 12px 15px;
    background: none;
    border: none ;
    outline: none;
    color:#fff ;
    font-size: 18px;
    border-bottom: 2px solid rgba(255 , 255 , 255 , 0.5);
    transition: 0.4s;
}


.input-box input:focus {
    border-color:#d3694f;
    box-shadow: 0 5px 15px rgba(255 , 255 , 255 , 0.3);
}


.input-box span {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%); 
    color: #fff; 
    pointer-events: none;
}

.submit-bit {
    appearance: none;     
    -webkit-appearance: none;
    background-color: #d3694f; 
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
}

.submit-btn:hover {
    background-color: #b05540; 
    color: #fff;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}